<ejs-treegrid
#testTask
  [dataSource]="data"
  idMapping="TaskId"
  parentIdMapping="ParentId"
  [treeColumnIndex]="1"
  gridLines="Both"
  [enableInfiniteScrolling]="false"
  [enableVirtualization]="true"
  [height]="'100vh'"
  [pageSettings]="pageSettings"
  [allowResizing]="true"
  [allowRowDragAndDrop]="true"
  [allowReordering]="true"
  (dataBound)='onDataBound($event)'

  [contextMenuItems]='contextMenuItems'
  (contextMenuClick)='contextMenuClick($event)'
  (contextMenuOpen)='contextMenuOpen($event)'
>
  <!--
    showColumnMenu="true"
  [allowSorting]="true"
  [allowFiltering]="true"
  [filterSettings]="filterSettings"
   -->
  <e-columns>
    <e-column
      *ngFor="let item of column"
      field="{{ item.field }}"
      headerText="{{ item.headerText }}"
      textAlign="{{ item.textAlign }}"
      width="{{ item.width }}"
      minWidth="{{ item.minWidth }}"
      maxWidth="{{ item.maxWidth }}"
      isPrimaryKey={{item.isPrimaryKey}}
      editType="{{item.editType}}"
    ></e-column>
    <!-- 

    <e-column
      field="StartDate"
      headerText="Start Date"
      editType="datepickeredit"
      format="yMd"
      textAlign="Center"
      width="150"
      minWidth="150"
      maxWidth="200"
    ></e-column>

    <e-column
      field="Duration"
      headerText="Duration"
      textAlign="center"
      type="number"
      editType="numericedit"
      [edit]="numericParams"
      width="150"
      minWidth="150"
      maxWidth="200"
    ></e-column>

    <e-column
      field="approved"
      headerText="Approved"
      type="boolean"
      textAlign="center"
      [displayAsCheckBox]="true"
      editType="booleanedit"
      width="150"
      minWidth="150"
      maxWidth="200"
    ></e-column> -->
  </e-columns>
</ejs-treegrid>
