<div style="height: 97vh; width: 100vw">
  <ejs-treegrid
    #testTask
    [dataSource]="data"
    idMapping="TaskId"
    parentIdMapping="ParentId"
    [treeColumnIndex]="0"
    gridLines="Both"
    [enableInfiniteScrolling]="false"
    [enableVirtualization]="true"
    [height]="'100%'"
    [width]="'100%'"
    [pageSettings]="pageSettings"
    [allowResizing]="true"
    [allowRowDragAndDrop]="true"
    [allowReordering]="true"
    (dataBound)="onDataBound($event)"
    [contextMenuItems]="contextMenuItems"
    (contextMenuClick)="contextMenuClick($event)"
    (contextMenuOpen)="contextMenuOpen($event)"
  >
    <!--
    showColumnMenu="true"
  [allowSorting]="true"
  [allowFiltering]="true"
  [filterSettings]="filterSettings"
   -->
    <e-column
      *ngFor="let item of column"
      field="{{ item.field }}"
      headerText="{{ item.headerText }}"
      textAlign="{{ item.textAlign }}"
      width="{{ item.width }}"
      minWidth="{{ item.minWidth }}"
      maxWidth="{{ item.maxWidth }}"
      isPrimaryKey="{{ item.isPrimaryKey }}"
      editType="{{ item.editType }}"
    ></e-column>
  </ejs-treegrid>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
</div>
